<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Conversion History</title>
    <link rel="stylesheet" href="main.css">

</head>
<body>
    <header>
        <nav>
            <div class="topnav">
                <ul>
                    <li><a href="/" class="active">Home</a></li>
                    <li><a href="/convert">Convert</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/history">Conversion History</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <br>
    <h1>Conversion History</h1>
    <br>

    <form action="/history/search" method="GET">
        <label for="currency">Search by Currency:</label>
        <input type="text" id="currency" name="currency" placeholder="Enter currency (e.g., USD)" required>
        <button type="submit">Search</button>
    </form>
    <br>

    <table>
        
        <thead>
            <tr>
                <th>Date</th>
                <th>From Currency</th>
                <th>To Currency</th>
                <th>Amount</th>
                <th>Converted Amount</th>
            </tr>
        </thead>
        <tbody>
            <% conversions.forEach(function(conversion) { %>
                <tr>
                    <td><%= conversion.formatted_date || 'No Date Available' %></td>
                    <td><%= conversion.from_currency %></td>
                    <td><%= conversion.to_currency %></td>
                    <td><%= conversion.amount %></td>
                    <td><%= conversion.converted_amount %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/users/loggedin">Back</a>
</body>
</html>
